.tagger {
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    padding: 1px 0px;
    text-align: left;
}
.tagger input.edit,
.tagger input.edit:focus {/*saco el borde azul de chrome*/
    outline: none;
    border: none;
    background: none;
    margin-left: 2px;
    position: relative;
    bottom: 1px;
    width: 30px;
    min-width: 30px;
}
.tagger div.tag {
    display: inline;
    background: #FFFFCC;
    border: 1px solid #AAAAAA;
    margin: 0 1px;
    padding: 0px 2px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}
.tagger div.tag span.name {
    display: inline;
    position: relative;
    bottom: 1px;
    height: 10px;
}
.tagger div.tag span.remove {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    cursor: hand;
    color: #AAAAAA;
    position: relative;
    left: 1px;
    top: 2px;
    background-image: url('/FW/image/icons/close.png');
    background-repeat: no-repeat;
}
.tagger div.tag span.remove:hover {
    background-image: url('/FW/image/icons/close_hover.png');
}