
.mnuTB_0
  {
    width: 100%;
    border-spacing: 2px 0px;
    background-color: white !important;/*#BDD2EC;*/
    font: 1em Arial, Helvetica, sans-serif;
    -moz-border-radius: 0.33em !important;
    -webkit-border-radius: 0.33em !important;
    border-radius: 0.33em !important;
  }

.submnuTB_0 
  {
    /*
  border-top: solid #404040 1px;
  border-left: solid #404040 1px;   
  border-right: solid #404040 1px;   
  border-bottom: solid #404040 1px;   
  */
  -webkit-box-shadow: 0px 1px 3px 1px #404040 !important;
  -moz-box-shadow: 0px 1px 3px 1px #404040 !important;
  box-shadow: 0px 1px 3px 1px #404040 !important;
  }

.submnuTR_0
  {
  width: 100% !important;
  font-size: 14px !important;
  font-family: tahoma,sans-serif !important;
  height: 24px !important;
  background-color: #e6e3e3 !important;
 
  /*BACKGROUND-IMAGE: url(/FW/image/tMenu/O_bg_mnu_normal.jpg);*/
  }

.submnuTR_0 TD:hover
  {
  background-color: white !important;
 
  /*BACKGROUND-IMAGE: url(/FW/image/tMenu/O_bg_mnu_normal.jpg);*/
  }

.mnuTB_0 TR TD
{
    padding-right: 4px !Important;
    padding-left: 4px !Important; 
    margin-left: 4px !Important;
    margin-left: 4px !Important;
    /*padding: 0px 5px 0px 5px !Important;*/
    font: 1.0em Tahoma !Important;
    /*font-weight: bolder !Important;*/
    background-color: #d0d0d0 /*#749BC4*/ !Important;
	color:#404040 !Important;
	-moz-border-radius: 0.33em;
    -webkit-border-radius: 0.33em;
    border-radius: 0.33em;
    box-shadow: 0 0 1px #f4f4f4;
    height: 20px
}

.mnuCELL_Normal_0
{
   
    
}

.mnuCELL_OnOver_0
{
		padding: 0px 4px 0 4px;
        text-decoration: underline;
        /*BACKGROUND-IMAGE: url(/FW/image/tMenu/O_bg_mnu_OnOver.jpg);*/
        cursor: hand;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 2px 1px #404040;
        -moz-box-shadow: 0px 0px 2px 1px #404040;
        box-shadow: 0px 0px 2px 1px #404040;
 }

.mnuCELL_Sep_0
{
  
}




.mnuTB_O
  {
  width: 100% !important;
  font-size: 14px !important;
  font-family: tahoma,sans-serif !important;
  height: 24px !important;
  }

.submnuTB_O 
  {
    /*
  border-top: solid #404040 1px;
  border-left: solid #404040 1px;   
  border-right: solid #404040 1px;   
  border-bottom: solid #404040 1px;   
  */
  -webkit-box-shadow: 0px 1px 3px 1px #404040 !important;
  -moz-box-shadow: 0px 1px 3px 1px #404040 !important;
  box-shadow: 0px 1px 3px 1px #404040 !important;
  }

.submnuTR_O
  {
  width: 100% !important;
  font-size: 14px !important;
  font-family: tahoma,sans-serif !important;
  height: 24px !important;
  background-color: #e6e3e3 !important;
 
  /*BACKGROUND-IMAGE: url(/FW/image/tMenu/O_bg_mnu_normal.jpg);*/
  }

.submnuTR_O TD:hover
  {
  background-color: white !important;
 
  /*BACKGROUND-IMAGE: url(/FW/image/tMenu/O_bg_mnu_normal.jpg);*/
  }

.mnuTB_O TD
{
    white-space: nowrap !important;
    height: 20px !important;
}



.mnuCELL_Normal_O
{
    padding-right: 4px;
    padding-left: 4px;
    cursor: hand;
    cursor: pointer;
    background-color: #e6e3e3;
    
}

.mnuCELL_OnOver_O
{
		
		padding: 0px 4px 0 4px;
        text-decoration: underline;
        /*BACKGROUND-IMAGE: url(/FW/image/tMenu/O_bg_mnu_OnOver.jpg);*/
        cursor: hand;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 2px 1px #404040;
        -moz-box-shadow: 0px 0px 2px 1px #404040;
        box-shadow: 0px 0px 2px 1px #404040;
 }

.mnuCELL_Sep_O
{
  
}


.mnuTB_A
{
  font: 13px Tahoma, Verdana, Segoe, sans-serif !important; 
  width: 100%;
  white-space: nowrap;
  /*font-family: Tahoma !important;*/
  font-weight: bolder !important;

  -moz-border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
  border-radius: 0em !important;
}


.mnuCELL_Normal_A
{
    /*font-weight:bold !important;*/
    padding: 3px;
    background-color: #707070 !Important;
    color: white;
	border:#FFFFFF solid 1px;
	border-bottom:none;
	border-right:solid 1px #000066;
	cursor: hand;
    cursor: pointer;	

    vertical-align: middle;
    -moz-border-radius: 0em !important;
    -webkit-border-radius: 0em !important;
    border-radius: 0em !important;
    box-shadow: 0 !important;
}

.mnuCELL_OnOver_A
{
    /*font-weight:bold !important;*/
    color: black !important;
    background-color: #A0A0A0 !important; 
    padding: 3px;
	border:#FFFFFF solid 1px;
	border-bottom:none;
	border-right:solid 1px #0066CC;
    /*BACKGROUND-IMAGE: url(../image/mnuSvr/bg_btnOnOver.jpg); */
    cursor: hand;
    cursor: pointer;
}



.mnuTB_P
  {
  font: 13px Tahoma, Verdana, Segoe, sans-serif !important; 
  font-weight:bold !important;
  width: 100% !important;
  white-space: nowrap !important;
  border-top: solid lightyellow 1px !important;
  border-left: solid lightyellow 0px !important;
  border-right: solid dimgray 1px !important; 
  border-bottom: solid dimgray 1px !important; 

  -moz-border-radius: 0em !important;
  -webkit-border-radius: 0em !important;
  border-radius: 0em !important;
  }

.mnuCELL_Normal_P
{
    padding: 3px !important;
    /*border: solid lightyellow 1px;*/
    border-left: solid lightyellow 1px !important;
    border-right: solid lightyellow 1px !important;
    background-color: silver !important;
    cursor: hand;
    cursor: pointer !important;
    vertical-align: middle !important;

    -moz-border-radius: 0em !important;
    -webkit-border-radius: 0em !important;
    border-radius: 0em !important;
    box-shadow: 0 !important;
    

}

.mnuCELL_OnOver_P
{
    color: white !important;
    background-color: dimgray !important;
    /*border: solid lightyellow 1px;
    border-top: solid lightyellow  1px;
    border-bottom: solid lightyellow  1px;*/
    border-left: solid lightyellow  1px !important;
    border-right: solid lightyellow 1px !important;
    padding: 3px !important;    
    cursor: hand !important;
    cursor: pointer !important;

    -moz-border-radius: 0em !important;
    -webkit-border-radius: 0em !important;
    border-radius: 0em !important;
    box-shadow: 0 !important;
}


.mnuCELL_Sep_A
{
    display: none;
  
}
