@media screen and (max-width: 899px)
{    


    .contenedor {
         /*   width: 99.9%;*/
            margin: 0px auto;
            overflow: auto;
            }
    #divDatosPersonalesLeft{
        float:none;
        width:99.9%;
    }
    #divDatosPersonalesRight{
        float:none;
        width:99.9%;
    }

    /*Inputs mas chicos*/
    input:not([type="button"]) {
        height: 25px;
        font: 16px Arial, Helvetica, sans-serif !Important;
    }

    #divGrupoLeft{
        float:none;
        width:99.9%;
    }
    #divGrupoRight{
        float:none;
        width:99.9%;
    }
    #divSocioLeft{
        float:none;
        width:99.9%;
    }
    #divSocioRight{
        float:none;
        width:99.9%;
    }
    #divProductoLeft{
        float:none;
        width:99.9%;
    }
    #divProductoRight{
        float:none;
        width:99.9%;
    }
    #divFiltrosLeft{
        float:none;
        width:99.9%;
    }
    #divFiltrosRight{
        float:none;
        width:99.9%;
    }
    #divFiltros2Left{
        float:none;
        width:99.9%;
    }
    #divFiltros2Right{
        float:none;
        width:99.9%;
    }
    #divFiltros3Left{
        float:none;
        width:99.9%;
    }
    #divFiltros3Right{
        float:none;
        width:99.9%;
    }
    #divCr1Left{
        float:none;
        width:99.9%;
    }
    #divCr1Right{
        float:none;
        width:99.9%;
    }  
    #divCr2Left{
        float:none;
        width:99.9%;
    }
    #divCr2Right{
        float:none;
        width:99.9%;
    }  
    #divCr3Left{
        float:none;
        width:99.9%;
    }
    #divCr3Right{
        float:none;
        width:99.9%;
    }
    #divCrFiltroLeft{
        float:none;
        width:99.9%;
    }
    #divCrFiltroFecha{
        float:none;
        width:99.9%;
    }   
    #divCrFiltroRight{
        float:none;
        width:99.9%;
    }   
    #tbRPTLeft{
        float:none;
        width:99.9%;
    }
    #tbRPTRight{
        float:none;
        width:99.9%;
    } 
    #divTotalesLeft{
        float:none;
        width:99.9%;
    }
    #divTotalesRight{
        float:none;
        width:99.9%;
    }
    #divCr3Right{
        float:none;
        width:99.9%;
    }
    .img_button    
      {
      cursor: pointer;
      height: 2.3em;
      width: 2.3em;  
      }
    #tbCred{
        font-size: 0.9em !important
    }

    body{
        overflow:auto;
    }

    .logo
    {
        width: 150px;
        height: 50px;
        position: absolute;
        top: 2px;
        transition: .3s all;
    }
    .img_button_sesion    
      {
      cursor: pointer;
      transition: .3s all;
      }    
    #user_name 
    {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #183884;
	font-weight:bold;
    position: absolute;
    right: 115px;
    top: 15px;
	}
    #user_sucursal {
        /*font-size: 0.9em*/
        display: none;
    }

    .img_button_sel    
      {
      cursor: pointer;
      height: 1.7em;
      width: 1.7em;  
      }
    .file_upload {
            /*border: solid white 2px;*/
            padding:2px;
            box-shadow: 0 0 2px white;
            cursor: pointer;
            height: 24px;
            width: 24px;  
        }

    .file_upload:hover {
                /*border: solid gray 2px;*/
                box-shadow: 0 0 2px gray;
            }


    /*Clases para generar un menu superior siempre visible*/
    div .large{
	    height: 50px;
        transition: .3s all;
    }

    div .small{
	    height: 40px !important;
        transition: .3s all;
    }
    /*
    .tablelarge{
	    height: 50px;
        transition: .3s all;
    }
    
     .tablesmall{
        height: 40px;
        transition: .3s all;
       
    }*/

}

@media screen and (min-width: 800px) 
{
   
     .contenedor {
       /*     width: 60% !important;*/
            margin: 0px auto !important;
            overflow:auto;
            }
     /*#divVendedorLeft{
        float:left !important;
        width:49.9% !important;
    }
     #divVendedorRight{
        float:left !important;
        width:49.9% !important;
    }*/    
    #divDatosPersonalesLeft{
        float:left !important;
        width:49.9%;
    }
    #divDatosPersonalesRight{
        float:left !important;
        width:49.9%;
    }
    /*#divTrabajoLeft{
        float:left !important;
        width:49.9%;
    }
    #divTrabajoRight{
        float:left !important;
        width:49.9%;
	}*/
    #divGrupoLeft{
        float:left !important;
        width:49.9%;
    }
    #divGrupoRight{
        float:left !important;
        width:49.9%;
    }
    #divSocioLeft{
        float:left !important;
        width:49.9% !important;
    }
    #divSocioRight{
        float:left !important;
        width:49.9% !important;
    }
    #divProductoLeft{
        float:left !important;
        width:49.9% !important;
    }
    #divProductoRight{
        float:left !important;
        width:49.9% !important;
    }
    #divFiltrosLeft{
        float:left !important;
        width:49.9%;
    }
    #divFiltrosRight{
        float:left !important;
        width:49.9%;
    }
    #divFiltros2Left{
        float:left !important;
        width:49.9%;
    }
    #divFiltros2Right{
        float:left !important;
        width:49.9%;
    }
    #divFiltros3Left{
        float:left !important;
        width:49.9%;
    }
    #divFiltros3Right{
        float:left !important;
        width:49.9%;
    }
    #divCr1Left{
        float:left !important;
        width:49.9% !important;
    }
     #divCr1Right{
        float:left !important;
        width:49.9% !important;
    }
    #divCr2Left{
        float:left !important;
        width:49.9% !important;
    }
     #divCr2Right{
        float:left !important;
        width:49.9% !important;
    } 
     #divCr3Left{
        float:left !important;
        width:49.9% !important;
    }
     #divCr3Right{
        float:left !important;
        width:49.9% !important;
    }
     #divCrFiltroLeft{
        float:right !important;
        width:49.9% !important;
    }
     #divCrFiltroFecha{
        float:left !important;
        width:49.9% !important;
    }
     #divCrFiltroRight{
        float:none !important;
        width:99.9% !important;
    }
      #tbRPTLeft{
        float:left !important;
        width:49.9% !important;
    }
     #tbRPTRight{
        float:left !important;
        width:49.9% !important;
    }
    #divTotalesLeft{
        float:left !important;
        width:49.9% !important;
    }
     #divTotalesRight{
        float:left !important;
        width:49.9% !important;
    }
    body{
        overflow:auto;
    }
    .img_button    
      {
      cursor: pointer;
      height: 2em;
      width: 2em;  
      }
    #logo
    {
        width:20em;
        height:8.53em;
    }
    .img_button_sesion
    {
      cursor: pointer;
      height: 3em;
      width: 3em;  
    }
  
    #user_name 
    {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	color: #183884;
	font-weight:bold;
    vertical-align: bottom;
	}
    #user_sucursal 
    {
    font-size: 1em
    }
    .img_button_sel    
      {
      cursor: pointer;
      height: 1.4em;
      width: 1.4em;  
      }
    .file_upload {
            /*border: solid white 2px;*/
            padding:2px;
            box-shadow: 0 0 2px white;
            cursor: pointer;
            height: 20px;
            width: 20px;  
        }

    .file_upload:hover {
                /*border: solid gray 2px;*/
                box-shadow: 0 0 2px gray;
            }

    .large {
        height: 120px;
    }
} 

@media screen and (max-width: 678px) {
    BODY {
        /*font: 16px Arial, Helvetica, sans-serif;*/
        background-color: white;
    }
}   

    span.sit1 {
        text-align: center;
        width: 49.9%;
        background-color: #008000 !important;
        color: white
    }

    span.sit2 {
        text-align: center;
        width: 49.9%;
        background-color: #FFD700 !important;
        color: white
    }

    span.sit3 {
        text-align: center;
        width: 49.9%;
        background-color: #f0f !important;
        color: white
    }

    span.sit4 {
        text-align: center;
        width: 49.9%;
        background-color: #c33 !important;
        color: white
    }

    span.sit5 {
        text-align: center;
        width: 49.9%;
        background-color: #800000 !important;
        color: white
    }

    span.sit6 {
        text-align: center;
        width: 49.9%;
        background-color: #000 !important;
        color: white
    }

    span.cdaAC {
        text-align: center;
        background-color: #008000 !important;
        color: white;
    text-decoration: underline
    }

    span.cdaOB {
        text-align: center;
        background-color: #ffd800 !important;
        color: white;
    text-decoration: underline
    }

    span.cdaRC {
        text-align: center;
        background-color: #800000 !important;
        color: white;
    text-decoration: underline
    }

    .btnTB_O {
    FONT-SIZE: 12px !important;
        border-radius: 55px !important;
    }


