.divRect {
    margin: 0px; 
    padding: 1px;
    width: 30px; 
    height: 30px; 
    border: solid green 1px;
    position: absolute; 
    float: left;
    top: 0px;
    left: 0px;
}
.divRect_select {
    cursor: move;
    z-index: 10000;
}
.divCanvas {
    min-width:100%;
    min-height:100%;
    font-family: Arial;
    position: relative;
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
}
.divCtrl {
    padding: 1px;
    border: solid #55559F 2px;
    font-family: Times New Roman; 
    font-size: small; 
    position: absolute;
    background-color: #E0E0FF;
    border-radius: 8px;
    overflow: visible;
    display: inline-block;
}
.nvCtrl_dest {
    border-color: #333333 !important;
    background: #BBBBBB !important;
    box-shadow: 0 0 10px #777777;
}
.selectedWrapper {
    background: #1000BB;
    overflow: hidden;
    position: absolute;
    border: 1px solid #1000BB;
    border-radius: 15px;
}
.point.rect{
    background: red !important;
    width: 20px !important;
    height: 20px !important;
}